.footballmatches {
  width: 100%;
}
.footballmatches main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.standings {
  display: flex;
  flex-direction: column;
  font-family: Inter;
  gap: 1rem;
}

.options {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 2em;
}
.container-title {
  font-family: Inter;
  font-size: 1.2rem;
  font-style: normal;
  line-height: normal;
  color: var(--logocolor);
}
.options li {
  position: relative;
  list-style: none;
  color: rgb(104, 104, 104);
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  line-height: normal;
  cursor: pointer;
}
.line {
  width: 100%;
  height: 2px;
  background-color: var(--line);
}
.options li:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: -1.12rem;
}
.options li.active {
  color: var(--option);
}
.options li.active:after {
  width: 100%;
  background-color: var(--underline);
}
.options li:not(.active):hover:after {
  width: 100%;
  background-color: rgba(107, 107, 107, 0.626);
}
.match-row {
  background-color: var(--bublecolor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Varela Round", sans-serif;
  color: var(--row-color);
  padding: 10px;
  border-radius: 10px;
}
.match-row:hover {
  background-color: #4545454d;
  transition: 0.3s;
}
.match-row:hover::before {
  background-color: #5107ff1d;
  transition: 1s;
}

.team-img {
  width: 2.5rem;
}
.score,
.state {
  font-family: "Varela Round", sans-serif;
  background-color: var(--score-background);
  color: var(--score-color);
  padding: 2px 10px;
  border-radius: 15px;
}
.state {
  background-color: var(--state-background);
  color: var(--state-color);
  border-radius: 8px;
}
/* .selected-league {
  color: rgb(104, 104, 104);
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.selected-league img {
  height: 1.5rem;
} */
.stable {
  border-collapse: collapse;
  width: auto;
  font-size: 0.9rem;
  font-family: Inter;
  min-width: 100%;
  border-radius: 0.7rem 0.7rem 0 0;
  overflow: hidden;
  color: var(--table-content);
}

.stable thead tr {
  background-color: var(--table-header);
  height: 2rem;
  text-align: left;
  font-weight: bold;
}
.stable td,
th {
  padding: 12px 15px;
}
.stable tbody tr {
  border-bottom: 2px solid var(--table-header);
}
.stable tbody tr:last-of-type {
  border-bottom: 10px solid var(--table-header);
}

.standingRow .team img {
  width: 1.8rem;
}
tr .team {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.season {
  color: var(--leftside-title);
}
select {
  background-color: var(--table-header);
  color: var(--table-content);
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}
option {
  background-color: var(--bublecolor);
  border: none;
}
