.topleagues {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.topleagues div {
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.topleagues .leagues-container {
  padding: 0 0.5rem;
  display: flex;
  width: 100%;
  min-height: 2.8rem;
  height: auto;
  justify-content: left;
  align-items: center;
  background-color: #84848433;
  border-radius: 8px;
  gap: 0.3rem;
}

.topleagues div .leagues-container img {
  width: 1.6rem;
  height: 1.6rem;
}
span.league-title {
  color: var(--league-title);
}
.topleagues .leagues-container:hover {
  background-color: rgba(212, 212, 212, 0.452);
  transition: 0.4s;
}
