* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-family: "Varela Round", sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff;
}
.main-content {
  display: flex;
  justify-content: space-between;
  padding-top: 4rem;
}
.left-side {
  background: #f6f6f4;
  height: auto;
  display: flex;
  padding: 1.5rem 1rem 1.75rem 1rem;
  border-right: solid 1px #5107ff34;
  flex: 1;
  width: 20%;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.main-content .left-side .title {
  align-self: stretch;
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  color: rgb(104, 104, 104);
}
.main-side {
  flex: 3;
  width: 80%;
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
}
